#!/usr/bin/make -f

#export DH_VERBOSE=1

export DH_OPTIONS

# We need to depend on different qemu packages, depending on whether we're on
# Ubuntu or Debian. See:
# http://raphaelhertzog.com/2010/09/27/different-dependencies-between-debian-and-ubuntu-but-common-source-package/

ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
	SUBSTVARS = -Vdist:Depends="qemu-common"
else
	SUBSTVARS = -Vdist:Depends="qemu-keymaps"
endif

%:
	dh $@ 

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)
